/*.none {
  display: none;
}

@import url(base.css);
@import url(container.css);
@import url(hero.css);
@import url(section.css);*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: auto;
}

.sections {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*header*/

.header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 22px 0;
  margin-right: 76px;
}

.accent {
  color: #2e2f42;
}

.link-container {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.links.current {
  color: #404bbf;
}

.links.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links:hover,
.links:focus {
  color: #404bbf;
}

.links:active {
  color: #404bbf;
}

.address-links {
  display: flex;
  font-style: normal;
}

.add-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-addr {
  display: flex;
  gap: 40px;

  align-items: center;
}

.add-link:hover,
.add-link:focus {
  color: #404bbf;
}

.add-link:active {
  color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/*section 1*/

.page-title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-image.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;

  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #4d5ae5;
  color: white;

  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.button:active {
  background-color: #404bbf;
}

/*section 2*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us {
  display: flex;
  gap: 24px;
}

.about-us-cont {
  /*width: calc((100% - 72px) / 4);*/
}

.icons {
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
}

.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-p {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  font-size: 16px;
}

/*section 3*/

.team-section {
  background-color: #f4f4fd;
}

.team-img {
  display: block;
  border: none;
}

.team-div {
  padding: 32px 0;

  /*border-radius: 0 0 4px 4px;*/
}

.section-h {
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team {
  display: flex;
  gap: 24px;
}
.team-card {
  /* width: calc((100% - 72px) / 4);*/
  border-radius: 0px 0px 4px 4px;

  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.social {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 24px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.social-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  gap: 24px;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*.social-item:active {
  background-color: #404bbf;
}*/

.social-item:active,
.social-item:hover,
.social-item:focus {
  background-color: #404bbf;
}

.social-icon-teams {
  fill: #f4f4fd;
}

/*section 4*/

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  column-gap: 24px;
  row-gap: 48px;
}

.sect-port {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-wrap {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sect-port:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.sect-port:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfoliop {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*footer*/

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
  /*display: flex;
  align-items: baseline;*/
}

.footer-info {
  margin-right: 120px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footerp {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-m {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.accent-m {
  color: #f4f4fd;
}

.footer-social-wrap {
  margin-right: auto;
}

.footer-text,
.footer-form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.page-footer .social {
  gap: 16px;
}

.page-footer .social-item:hover,
.page-footer .social-item:focus {
  background-color: #31d0aa;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.subscribe-form-input,
.subscribe-form-input::placeholder {
  line-height: 2;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-form-input:focus {
  border-color: #31d0aa;
}

.subscribe-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4d5ae5;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: #31d0aa;
}

.subscribe-form-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}
/*backdrop*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: absolute;
  padding: 72px 24px 24px;

  min-height: 584px;
  top: 50%;
  left: 50%;
  width: 408px;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
}

.modal-close-btm {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /*transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}

.modal-close-btm:hover,
.modal-close-btm:focus {
  background-color: #404bbf;
  border: none;
  /*border-color: #4d5ae5;*/
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btm:hover .modal-close-icon,
.modal-close-btm:focus .modal-close-icon {
  fill: #fff;
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-form-input {
  line-height: 2;
  width: 100%;
  height: 40px;
  padding: 8px 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.modal-form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-form-textarea,
.modal-form-textarea::placeholder,
.modal-form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.policy-wrapper {
  margin-bottom: 24px;
}

.policy-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;

  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  margin-bottom: 4px;
}

.policy-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  /*transition-property: background-color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox-input:checked + .policy-label .policy-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-btm {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  padding: 0;
  margin: 0 auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btm :hover,
.modal-form-btm :focus {
  background-color: #404bbf;
}

.nan {
  display: none;
}
